/* CSS file  --> abilities.html */


body{
    background-color: #CFE8A9;
}

/* top table */
.table-menu table{
    width:100% ;
    text-align: center;
}

.table-menu td:hover{
    background-color: #E64848;
}
a:hover{
    color: white!important;
}

/* Top quote */
.top-quote h1{
    text-align:center;
    font-family: 'Fuzzy Bubbles', cursive;
}

.top-quote h3{
    text-align:center;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: normal;
}

/* Real content */
.skill-table h2{
    text-align: center;
    background-color: #FFFDE3;
}

